*~
.lesshst
.bash_history
.cache
.cert
.config
.gnupg
.local
.pki
.python_history
.w3m/cookie
.w3m/history
Backup
Documents
Downloads
Mail
Projects
Remote
Web
sys-conf
.ssh/known_hosts
.ssh/known_hosts.old
