*~
.bash_history
.cache
.config
.gnupg
.lesshst
.local
.python_history
.ssh/known_hosts
.ssh/known_hosts.old
.texlive*
.w3m/cookie
.w3m/history
.w3m/w3m*
.unison
Documents
Downloads
Mail
Projects
sys-conf
.sane
.omnissa

