[Desktop Entry]
Version=1.0
Name=yc ebay
Exec=chromium --user-data-dir=/home/yc/.config/chromium-ebay
StartupNotify=true
Terminal=false
Type=Application
